<div class="header-parent">
    <div class="header1">
        <img src="assets/img/logo.jpg" alt="">
    </div>

    <div class="header2">
        <div class="header-sub1">
            <div class="search-container">
                <img src="assets/img/lupa.png" alt="Buscar">
                <input type="text" class="search-bar" placeholder="Pesquisar...">
            </div>
        </div>

        <div class="header-sub2">
            <img src="assets/img/usuario.webp" alt="Usuario">
            <img src="assets/img/usuario.webp" alt="Usuario">
            <img src="assets/img/usuario.webp" alt="Usuario">
            <img src="assets/img/usuario.webp" alt="Usuario">
        </div>
    </div>

    <div class="header3">
        <img src="assets/img/usuario.webp" alt="Usuario">
        <h2>Usuario</h2>
    </div>
</div>